.view-farm
  .farm-buttons
    for buttonType in buttons
      button(on={click: () => $helpers.addAnimal(buttonType)}) Add #{buttonType}
  .farm-animals
    for animal, idx in animals
      animal-badge(
        attrs={
          animal: animal.name,
          closeable: true,
        }
        on={close: () => $helpers.removeAnimal(idx)}

        /* entry/exit animation config */
        key=animal.id
        class={
          visible: false,
          delayed: {visible: true},
          remove:  {visible: false, delayRemove: 250},
        }
      )
