.view-farm
  for buttonType in buttons
    button(on={click: () => $helpers.addAnimal(buttonType)}) Add #{buttonType}
  .farm-animals
    for animal, idx in animals
      animal-badge(attrs={animal} on={close: () => $helpers.removeAnimal(idx)})
