@import '../reset.css'

.farm-wrapper
  color blue
  font 14px 'Helvetica Neue', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif
  padding 20px
  position relative

.farm-nav
  margin-bottom 10px
  a
    border 1px solid blue
    color blue
    display inline-flex
    justify-content center
    min-width 120px
    padding 5px
    text-decoration none
    &:first-child
      border-radius 5px 0 0 5px
      border-right none
    &:last-child
      border-radius 0 5px 5px 0
    &.nav-selected
      background-color blue
      color white

.farm
  border 1px solid blue
  border-radius 5px
  min-height 150px
  padding 10px
  position relative
  z-index 2

animal-badge.background-animal
  opacity 0.20
  position absolute
  z-index 1
