.code-sample {
  color: #800080;
  font-family: monospace;
}
.view-farm button {
  border: 1px solid #00f;
  border-radius: 10px;
  color: #00f;
  cursor: pointer;
  margin: 5px;
  outline: none;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, table, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
table {
    vertical-align: middle;
}
tbody, tfoot, thead, tr, th, td {
    vertical-align: inherit;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
th {
    font-weight: bold;
}
strong {
    font-weight: bold;
}
p {
    margin: 1em 0;
}
h3 {
    font-size: 1.17em;
}
a {
    outline: none;
}
.farm-wrapper {
  color: #00f;
  font: 14px 'Helvetica Neue', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
  padding: 20px;
  position: relative;
}
.farm-nav {
  margin-bottom: 10px;
}
.farm-nav a {
  border: 1px solid #00f;
  color: #00f;
  display: inline-flex;
  justify-content: center;
  min-width: 120px;
  padding: 5px;
  text-decoration: none;
}
.farm-nav a:first-child {
  border-radius: 5px 0 0 5px;
  border-right: none;
}
.farm-nav a:last-child {
  border-radius: 0 5px 5px 0;
}
.farm-nav a.nav-selected {
  background-color: #00f;
  color: #fff;
}
.farm {
  border: 1px solid #00f;
  border-radius: 5px;
  min-height: 150px;
  padding: 10px;
  position: relative;
  z-index: 2;
}
animal-badge.background-animal {
  opacity: 0.2;
  position: absolute;
  z-index: 1;
}
