.animal-badge
  align-items center
  background-color lighten(blue, 90%)
  border-radius 50px
  box-shadow 0 10px 40px rgba(0, 0, 0, 0.15)
  display inline-flex
  height 100px
  justify-content center
  margin 5px
  width 100px
