.animal-badge
  align-items center
  background-color lighten(blue, 90%)
  border-radius 50px
  box-shadow 0 10px 40px rgba(0, 0, 0, 0.15)
  display inline-flex
  height 100px
  justify-content center
  margin 5px
  opacity 0
  position relative
  width 0px
  transition width 250ms, opacity 250ms
  &.visible
    opacity 1
    width 100px
  &:hover
    .close-button
      display block
  .close-button
    cursor pointer
    display none
    position absolute
    right 0
    top 0
    &::before
      color red
      content "x"
      font-size 20px
