.animal-badge(class={inout: $helpers.isEnteringOrExiting()})
  img(attrs={
    src: $helpers.ANIMAL_URLS[$component.getAttribute(`animal`)],
    height: 90,
    width: 90,
  })
  if $helpers.isCloseable()
    .close-button(on={click: $helpers.clickClose})
